.bg {
    background: url('../img/you-matter.jpeg') no-repeat center center/cover;
    height: 430px;
    color: white;
    text-align: center;
    font-size: 2em;
<<<<<<< HEAD
=======

>>>>>>> jkurien
}

.impact {
    color: white;
    text-align: center;
}

.about {
    margin: 10px;
    background-color: #1E5631;
    height: 450px;
    padding: 20px;
}

.box {
    float: left;
    width: 29%;
    height: 300px;
    padding: 50px;
    background-color:#76BA1B;;
    margin: 2%;
}
.profile {
    border-radius: 5%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

