.bg {
    background: url('../img/you-matter.jpeg') no-repeat center center/cover;
    height: 430px;
    color:white;
    text-align: center;
    font-size: 2em;
}
.header {
    position: fixed center;
    background-color: black;
    display: inline-block;
    
}

.impact {
    color: white;
    text-align: center;
}

.about {
    margin: 10px;
    background-color: #1E5631;
    height: 450px;
    padding: 20px;
}

.box {
    float: left;
    width: 29%;
    height: 300px;
    padding: 50px;
    background-color: white;
    margin: 2%;
}
.profile {
    border-radius: 5%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.img1 {
    background: url("../img/dan-meyers-hluOJZjLVXc-unsplash.jpg") no-repeat center/cover;
    height: 500px;
    background-attachment: fixed;
}
