.bg {
    background: url('../img/you-matter.jpeg') no-repeat center center/cover;
    height: 430px;
    color: white;
    text-align: center;
    font-size: 2em;
    background

}
.impact {
    border: solid green;
    text-align: center;
}



.testimonials {
    margin: 10px;
    background-color: lightgray;
    height: 590px;
    padding: 20px;
}

.box {
    float: left;
    width: 29%;
    height: 300px;
    padding: 50px;
    background-color: white;
    margin: 2%;
}
.profile {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

