/* Home page */
.float {
    width: 30%;
    height: 200px;
    box-shadow: 5px 5px 5px grey;
    background-color: lightgrey;
}

.float h2,
.float p {
    padding: 20px;
    text-align: center;
}

.float-right {
    float: right;
    margin: 0 15% 20px 0;
}

.float-left {
    float: left;
    margin: 0 0 20px 15%;
}

.placeholder-img {
    background: url('https://www.venturausd.org/portals/0/IMG_0032_1.JPG');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}